# Raw data and downloaded datasets
non-pv-data/
BNetzA_MaStR/bnetza_mastr_*
BNetzA_MaStR/solar.parquet
*.gpkg
*.json

# Generated outputs
fig/
*.csv
*.gif
*.png

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
